<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<ul>
    <li><a href="/users">用户</a></li>
    <li><a href="/test">测试</a></li>
</ul>

<div id="app">
    <p>{{ message }}</p>
    <input v-model="message">
</div>

<script src="/javascripts/vue.min.js"/>
<script src="/javascripts/index.js" />
</body>
</html>