html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
}

:focus {
  outline: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #da4939;
  text-decoration: none;
}

.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

.layout {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  border: 1px solid #c8c8c8;
  box-shadow: 2px 2px 10px 3px #c8c8c8;
}
.layout .left, .layout .right {
  position: absolute;
  padding: 70px;
  float: left;
}
.layout .left {
  width: 320px;
}
.layout .left .name, .layout .left .contact, .layout .left .info, .layout .left .links {
  font-size: 12px;
}
.layout .left .name {
  height: 70px;
  line-height: 70px;
}
.layout .left .name img {
  height: 70px;
  width: 70px;
  margin-right: 40px;
  vertical-align: middle;
  border-radius: 35px;
}
.layout .left .name span {
  vertical-align: middle;
  font-size: 70px;
}
.layout .left .contact, .layout .left .info, .layout .left .links {
  margin-top: 100px;
}
.layout .left .contact ul li, .layout .left .links ul li {
  margin-bottom: 15px;
  line-height: 20px;
}
.layout .left .contact ul li label, .layout .left .links ul li label {
  font-weight: bold;
  display: inline-block;
  width: 110px;
  vertical-align: top;
}
.layout .left .contact ul li span, .layout .left .links ul li span {
  display: inline-block;
  color: #A5ADB0;
}
.layout .left .info {
  color: #A5ADB0;
  line-height: 20px;
}
.layout .left .info strong {
  color: #000;
}
.layout .right {
  left: 460px;
  right: 0;
  background: #3B3C40;
}
.layout .right .title {
  color: #589B9D;
  font-size: 16px;
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: bold;
}
.layout .right .e-title, .layout .right .e-content {
  font-size: 12px;
}
.layout .right .e-title {
  color: #FFFFFF;
  font-weight: bold;
}
.layout .right .e-content {
  color: #A5ADB0;
}
.layout .right .experience table {
  font-size: 12px;
  line-height: 20px;
  display: block;
}
.layout .right .experience table tbody {
  display: block;
}
.layout .right .experience table tr {
  display: block;
  margin-bottom: 15px;
}
.layout .right .experience table tr.e-title {
  margin-top: 50px;
}
.layout .right .experience table tr:first-child {
  margin-top: 0;
}
.layout .right .experience table tr td:first-child {
  width: 210px;
}
.layout .right .experience table tr td {
  padding: 0;
  vertical-align: top;
}
.layout .right .ohter {
  margin-top: 80px;
}
.layout .right .ohter table {
  width: 100%;
}
.layout .right .ohter table .o-left {
  width: 270px;
  padding-right: 50px;
}
.layout .right .ohter table .o-left .schools {
  margin-bottom: 70px;
}
.layout .right .ohter table .o-right {
  vertical-align: top;
}
.layout .right .ohter table .wrap {
  width: 100%;
  background: #2A2B2D;
  height: 10px;
  overflow: hidden;
}
.layout .right .ohter table .plan {
  height: 10px;
  animation-name: go;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
.layout .right .ohter table .javascript {
  width: 80%;
  background: #9E6391;
  height: 10px;
  animation-delay: .05s;
}
.layout .right .ohter table .css {
  animation-delay: .1s;
}
.layout .right .ohter table .html {
  animation-delay: .15s;
}
.layout .right .ohter table .css, .layout .right .ohter table .html {
  width: 90%;
  background: #9BDAAF;
}
.layout .right .ohter table .node {
  width: 50%;
  background: #7AAB13;
  animation-delay: .2s;
}

@keyframes go {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=resume.css.map */
