html, body {
    height: 100%;
}
[v-cloak] {
    display: none;
}

/* 必需 */
.expand-transition {
    transition: max-height 1s ease, padding .2s ease;
    max-height: 500px;
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.expand-enter, .expand-leave {
    max-height: 0;
    opacity: 0;
    padding: 0 15px;
}

.is-Transformed {
    width: 50%;
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/* index */
#index {
    background: #f3f3f4;
    padding-top: 70px;
}
.glyphicon {
    cursor: pointer;
}
.post-menu {
    text-align: right;
}


/* login */
#login {
    background: #f3f3f4;
}
.login .input-group {
    margin-top: 30px;
}
.login .login-info {
    height: 30px;
    line-height: 30px;
}